html { 
  box-sizing: border-box; 
  background-color: var(--purple100);

  background-image: url(/src/assets/images/background-pattern-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
*, ::before, ::after { box-sizing: inherit; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  /* Colors */
  --white: hsl(0, 100%, 100%);
  --purple100: hsl(275, 100%, 97%);
  --purple600: hsl(292, 16%, 49%);
  --purple950: hsl(292, 42%, 14%);

  /* Font */
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media(min-width: 650px) {
  html {
    background-image: url(/src/assets/images/background-pattern-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
}